Puzzle Title,Puzzle Description,Puzzle hint,The Answer
Puzzle 1,Puzzle 1, none,1
Puzzle 2,Puzzle 2, none,2
Puzzle 3,Puzzle 3, none,3
Puzzle 4,Puzzle 4, none,4
Puzzle 5,Puzzle 5, none,5
Puzzle 6,Puzzle 6, none,6
Puzzle 7,Puzzle 7, none,7
Puzzle 8,Puzzle 8, none,8
Puzzle 9,Puzzle 9, none,9
Puzzle 10,Puzzle 10, none,10
